*locks/
*.pdf
temp/
data/
logs/
__pycache__
datasets/
cache/
.ipynb_checkpoints/
.venv/

# Distribution / packaging
*.egg-info/

# Byte-compiled and C extension files
__pycache__/
*.py[cod]
*.so

# Logs and outputs
*.log
outputs/*
mlruns/*
multirun/*
.env
model/*